# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
*.log

# Databases
*.db
*.sqlite3

# Environment variables and secrets
.env
firebase_credentials.json
Api /firebase_credentials.json

# Others
*.bak
*.swp


# Others
*.bak
*.swp
